<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umuc.com.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Personal"
            android:label="@string/app_personal"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="umuc.com.myapplication.Goals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

<!--        <activity
            android:name=".Goals"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="umuc.com.myapplication.Goals" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->


        <!--<activity
            android:name=".Physical"
            android:label="@string/app_physical"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Spiritual"
            android:label="@string/app_spiritual"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Long_Term"
            android:label="@string/app_long_term"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Budgeting"
            android:label="@string/app_budgeting"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Personal"
            android:label="@string/app_personal"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>-->

    </application>
</manifest>



    <!--
    <activity
    android:name=".Physical"
    android:label="@string/app_physical"
    android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
    android:name=".Spiritual"
    android:label="@string/app_spiritual"
    android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
    android:name=".Long_Term"
    android:label="@string/app_long_term"
    android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
    android:name=".Budgeting"
    android:label="@string/app_budgeting"
    android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
    android:name=".Personal"
    android:label="@string/app_personal"
    android:theme="@style/AppTheme.NoActionBar">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
    </activity>
    -->
